html, body {
  font-family: 'Arial', monospace;
  padding:0;
  margin:0;
  overflow: hidden;
  color: #5C6E7E;
  font-size: 30px;
}

#logo{
  img {
    width: 300px;
  }
}

#logo: move(600,300);

#line {
  border: 2px solid #5C6E7E;
  width: 70%;
}
#line: move(-200,300);

#intro{
  img {
    width: 100%;
  }
}

#talkInfo{
  width: 700px;
  height: 400px;
  background-color: #5C6E7E;
  opacity: 0.8;
}
#talkInfo: left(300);

#title, #title2, #speaker, #time{
  color: white;
}

#title, #title2{
  font-size: 60px;
}
#title: move(-300,-120);
#title2: move(-300,-40);

#speaker: move(-300,100);
#time: move(-300,150);

#angularDartLogo{
  img{
    width: 750px;
  }
}
#angularDartLogo, #angularDartText: hide;
#angularDartLogo2, #angularDartText2: hide;

#angularDartText{
  font-size: 50px;
}
#angularDartText: up(200);

.s2{
  #talkInfo,#title,#title2,#speaker,#time,#intro: hide;
  #angularDartText: show;
}

.s3{
  #angularDartLogo: show;
}

#angularDartText2,
#angularDartDescription,
#angularDartPoint1,
#angularDartPoint2{
  width: 730px;
  transition: all 1s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

#angularDartDescription,
#angularDartPoint1,
#angularDartPoint2 {
  color: white;
}

#angularDartDescription{
  padding: 10px 10px 100px 10px;
  background-color: #5C6E7E;
  border: 4px dotted black;
  opacity: 0.8;
}

#angularDartDescription, #angularDartPoint1, #angularDartPoint2: left(1500);

#angularDartVersions{
  img{
    width: 1000px;
  }

  padding: 10px 50px;
  background-color: #5C6E7E;
  opacity: 0.9;
}

#angularDartVersions: up(1500);

.s4{
  #angularDartVersions{
    transition-duration: 60s;
  }
  #angularDartVersions: down(3000);
}

#angularDartLogo2: move(400,-200) hide;
#angularDartText2: move(-150,-200) hide;
.s5 {
  #angularDartVersions: hide;
  #angularDartVersions{
    transition-duration: 0;
  }

  #angularDartText: move(-150,-200) scale(0.6,0.6) hide;
  #angularDartLogo: move(400,-200) scale(0.2,0.2) hide;

  #angularDartText2: show;
  #angularDartLogo2: show;

  #angularDartLogo2 {
    transition-timing-function: ease-in;
    transition-duration: 0.5s;
    transition-delay: 0.5s;
  }

  #angularDartPoint1: left(150);
  #angularDartDescription: move(-150,0);
  #angularDartPoint2: move(-150,50);
}

#atscriptDescr: up(1000) hide;
#atscript: down(1000) hide;
#atscript, #ngTypeScript{
  img{
    height: 445px;
  }
}

.s6{
  #atscript: move(0,0) show;
  #atscriptDescr: move(0,-300) show;

  #angularDartLogo2 {
    transition: all 1s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }

  #angularDartPoint1, #angularDartDescription, #angularDartPoint2: left(1500) hide;
  #angularDartText2: move(-1500,-1000) hide;
  #angularDartLogo2: move(1500,-1000) hide;
}

#smartMove, #ngTypeScript, #ngTypeScriptDescr: hide;

#smartMove{
  img{
    width: 800px;
  }
}

.s7{
  #smartMove: show;
  #atscript: down(1000) hide;
  #atscriptDescr: up(1000) hide;
}

#ngTypeScript {
  transform: rotateY(270deg);
}
#ngTypeScriptDescr: up(300);

.s8{
  #smartMove: hide;

  #smartMove {
    transform: rotateY(90deg);
    transition-duration: 2s;
  }

  #ngTypeScript {
    transform: rotateY(360deg);
    transition-duration: 2s;
  }

  #ngTypeScript, #ngTypeScriptDescr: show;
}

#architecture, #architectureTitle: hide;
#architectureTitle: up(300);

.s9{
  #architecture, #architectureTitle: show;
  #ngTypeScript, #ngTypeScriptDescr: hide;
}

#basicIdeas, #everythingIsClass, #componentBased, #stamp1, #stamp2: hide;
#stamp1,#stamp2{
  img{
    width: 400px;
  }
}

#basicIdeas: up(50);
#basicIdeas{
  font-size: 40px;
}

#componentBased, #everythingIsClass{
  color: #B20D0D;
  font-size: 25px;
  font-weight: 600;
}

#stamp1, #componentBased{
  transition-duration: 0.5s;
  transform: translateX(-200px) translateY(-180px) rotateZ(23deg) scale(10);
}

#everythingIsClass {
  font-size: 22px;
}
#stamp2, #everythingIsClass{
  transition-duration: 0.5s;
  transform: translateX(150px) translateY(100px) rotateZ(-35deg) scale(10);
}

.s10{
  #architecture, #architectureTitle: hide;
  #basicIdeas: show;
}

.s11{
  #stamp1: show;
  #componentBased: show;
  #stamp1, #componentBased {
    transform: translateX(-200px) translateY(-180px) rotateZ(23deg) scale(1);
  }
}

.s12{
  #stamp2: show;
  #everythingIsClass: show;
  #stamp2, #everythingIsClass{
    transform: translateX(150px) translateY(100px) rotateZ(-35deg) scale(1);
  }
}

#whyComponent, #whyComponentImg, #componentControl, #componentApi, #componentLifeCycle: hide;

#whyComponent: up(1000);
#whyComponent{
  font-size: 40px;
}

#componentControl: move(1000,-70);
#componentApi: right(1000);
#componentLifeCycle: move(1000,70);
#componentControl, #componentApi, #componentLifeCycle{
  width: 900px;
}


.s13{
  #stamp2: down(800) hide;
  #basicIdeas: down(800) hide;
  #everythingIsClass: down(800) hide;
  #componentBased: down(800) hide;
  #stamp1: down(800) hide;

  #whyComponent: down(800) show;
}

.s14{
  #componentControl:left(1000) show;
}

.s15{
  #componentApi: left(1000) show;
}

.s16{
  #componentLifeCycle: left(1000) show;
}

#componentTree{
  img{
    width: 600px;
  }
}
#componentTreeTitle: up(300) right(1000);
#componentTree: right(1000);
#componentTree, #componentTreeTitle: hide;
.s17{
  #whyComponent: left(1000) hide;
  #componentControl: left(1000) hide;
  #componentApi: left(1000) hide;
  #componentLifeCycle: left(1000) hide;

  #componentTree: left(1000) show;
  #componentTreeTitle: left(1000) show;

}