@import url(https://fonts.googleapis.com/css?family=Montserrat);

html, body {
  font-family: 'Montserrat', monospace;
  padding:0;
  margin:0;
  overflow: hidden;
  color: #4C9179;
  font-size: 26px;
}

#logo:hide;
#line:hide;
#logo{
  img {
    width: 300px;
  }
}

#logo: move(600,300);

#line {
  border: 2px solid #4C9179;
  width: 70%;
}
#line: move(-200,300);

#title,#title2,#speaker,#time: hide;
#intro{
  img {
    width: 100%;
  }
}

#talkInfo{
  width: 700px;
  height: 400px;
  background-color: #4C9179;
  opacity: 0.8;
}
#talkInfo: left(200) hide;

#title, #title2, #speaker, #time{
  color: white;
  width: 700px;
  padding-left: 50px;
}

#title, #title2{
  font-size: 50px;
}
#title: move(-200,-120);
#title2: move(-200,-40);

#speaker: move(-200,100);
#time: move(-200,150);

.s1{
  #talkInfo,#title,#title2,#speaker,#time: show;
  #talkInfo{
    opacity: 0.8;
  }

  #angularDartVersions: show;
}

#angularDartLogo{
  img{
    width: 750px;
  }
}
#angularDartLogo, #angularDartText: hide;
#angularDartLogo2, #angularDartText2: hide;

#angularDartText{
  font-size: 40px;
}
#angularDartText: up(200);

.s2{
  #talkInfo,#title,#title2,#speaker,#time,#intro: hide;
  #angularDartText: show;
}

.s3{
  #angularDartLogo: show;
}

#angularDartText2,
#angularDartDescription,
#angularDartPoint1,
#angularDartPoint2{
  width: 730px;
  transition: all 1s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

#angularDartDescription,
#angularDartPoint1,
#angularDartPoint2 {
  color: white;
  transition-delay: 1s;
}

#angularDartDescription{
  padding: 10px 10px 100px 10px;
  background-color: #4C9179;
  border: 4px dotted black;
  opacity: 0.8;
}

#angularDartDescription, #angularDartPoint1, #angularDartPoint2: left(1500);

#angularDartVersions{
  img{
    width: 1000px;
  }

  padding: 10px 50px;
  background-color: #4C9179;
  opacity: 0.9;
}

#angularDartVersions: up(1200) hide;

.s4{
  #angularDartVersions{
    transition-duration: 60s;
  }
  #angularDartVersions: down(3000);
}

#angularDartLogo2: move(400,-200) scale(0.1,0.1) hide;
#angularDartText2: move(-150,-200) hide;
.s5 {
  #angularDartVersions: hide;
  #angularDartVersions{
    transition-duration: 0s;
  }

  #angularDartText: move(-250,-200) scale(0.6,0.6) hide;
  #angularDartLogo: move(400,-200) scale(0.2,0.2) hide;

  #angularDartText2: show;
  #angularDartLogo2: scale(1,1) show;

  #angularDartLogo2 {
    transition-timing-function: ease-in;
    transition-duration: 0.5s;
    transition-delay: 0.5s;
  }

  #angularDartPoint1: left(150);
  #angularDartDescription: move(-150,0);
  #angularDartPoint2: move(-150,50);
}

#atscriptDescr: up(1000) hide;
#atscript: down(1000) hide;
#atscript, #ngTypeScript{
  img{
    height: 445px;
  }
}

.s6{
  #atscript: move(0,0) show;
  #atscriptDescr: move(0,-300) show;

  #angularDartLogo2 {
    transition: all 1s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }

  #angularDartDescription,
  #angularDartPoint1,
  #angularDartPoint2 {
    transition-delay: 0s;
  }

  #angularDartPoint1, #angularDartDescription, #angularDartPoint2: left(1500) hide;
  #angularDartText2: move(-1500,-1000) hide;
  #angularDartLogo2: move(1500,-1000) hide;
}

#smartMove, #ngTypeScript, #ngTypeScriptDescr: hide;

#smartMove{
  img{
    width: 800px;
  }
}

.s7{
  #smartMove: show;
  #atscript: down(1000) hide;
  #atscriptDescr: up(1000) hide;
}

#ngTypeScript {
  transform: rotateY(270deg);
}
#ngTypeScriptDescr: up(300);

.s8{
  #smartMove: hide;

  #smartMove {
    transform: rotateY(90deg);
    transition-duration: 2s;
  }

  #ngTypeScript {
    transform: rotateY(360deg);
    transition-duration: 2s;
  }

  #ngTypeScript, #ngTypeScriptDescr: show;
}

#architecture, #architectureTitle: hide;
#architectureTitle: up(300);

.s9{
  #architecture, #architectureTitle: show;
  #ngTypeScript: down(1500) hide;
  #ngTypeScriptDescr: up(300) hide;
}

#basicIdeas, #everythingIsClass, #componentBased, #stamp1, #stamp2: hide;
#stamp1,#stamp2{
  img{
    width: 400px;
  }
}

#basicIdeas: up(50);
#basicIdeas{
  font-size: 34px;
}

#componentBased, #everythingIsClass{
  color: #B20D0D;
  font-size: 20px;
  font-weight: 600;
}

#stamp1, #componentBased{
  transition-duration: 0.5s;
  transform: translateX(-200px) translateY(-180px) rotateZ(23deg) scale(10);
}

#everythingIsClass {
  font-size: 20px;
}
#stamp2, #everythingIsClass{
  transition-duration: 0.5s;
  transform: translateX(150px) translateY(100px) rotateZ(-35deg) scale(10);
}

.s10{
  #architecture: scale(0,0) move(0,-50) hide;
  #architectureTitle: hide;
  #architectureTitle{
    transition-duration: 0s;
  }
  #basicIdeas: show;
}

.s11{
  #stamp1: show;
  #componentBased: show;
  #stamp1, #componentBased {
    transform: translateX(-200px) translateY(-180px) rotateZ(23deg) scale(1);
  }
}

.s12{
  #stamp2: show;
  #everythingIsClass: show;
  #stamp2, #everythingIsClass{
    transform: translateX(150px) translateY(100px) rotateZ(-35deg) scale(1);
  }
}

#whyComponent, #whyComponentImg, #componentControl, #componentApi, #componentLifeCycle: hide;

#whyComponent: up(1000);
#whyComponent{
  font-size: 40px;
}

#componentControl: move(1000,-70);
#componentApi: right(1000);
#componentLifeCycle: move(1000,70);
#componentControl, #componentApi, #componentLifeCycle{
  width: 900px;
}


.s13{
  #stamp2: down(800) hide;
  #basicIdeas: down(800) hide;
  #everythingIsClass: down(800) hide;
  #componentBased: down(800) hide;
  #stamp1: down(800) hide;

  #whyComponent: down(800) show;
}

.s14{
  #componentControl:left(1000) show;
}

.s15{
  #componentApi: left(1000) show;
}

.s16{
  #componentLifeCycle: left(1000) show;
}

#componentTree{
  img{
    width: 600px;
  }
}
#componentTreeTitle: up(300) right(1000);
#componentTree: right(1000);
#componentTree, #componentTreeTitle: hide;
.s17{
  #whyComponent: left(1000) hide;
  #componentControl: left(1000) hide;
  #componentApi: left(1000) hide;
  #componentLifeCycle: left(1000) hide;

  #componentTree: left(1000) show;
  #componentTreeTitle: left(1000) show;
}

#showCode: scale(10,10) hide;
#showCode {
  transition-duration: 0.2s;
}

.s18{
  #showCode: scale(-9,-9) show;

  #componentTree, #componentTreeTitle {
    opacity: 0.5;
  }
}

symbol[sample]{
  border: 3px solid #4C9179;
  font-size: 26px;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);

  pre{
    margin: 0;
    padding: 10px;
  }
}

#highlighter{
  background-color: grey;
  z-index: 100;
}
#highlighter: up(40) hide;

#componentSample: hide;

.s19{
  #showCode: scale(10,10) hide;
  #componentTree, #componentTreeTitle:hide;
  #componentTree, #componentTreeTitle{
    transition-delay: 0.5s;
  }
  #componentSample: show;
  #highlighter{
    width: 700px;
    height: 100px;
  }
}

.s20{
  #highlighter{
    opacity: 0.5;
  }
}

#arrowdown{
  img{
    height: 75px;
  }
}
#arrowdown: down(35) hide;
#componentUsageSample: down(100) hide;

.s21{
  #componentUsageSample: show;
  #arrowdown:show;
  #componentSample: up(150);
  #highlighter: up(150);
}

#templateSyntax: hide;
#templateSyntaxTitle: up(300) hide;

.s22{

  #componentUsageSample: up(800) hide;
  #arrowdown: up(800) hide;
  #componentSample: up(800) hide;
  #highlighter: up(800) hide;
  #highlighter{
    opacity: 0;
    transition-duration: 0s;
  }

  #templateSyntax:show;
  #templateSyntaxTitle:show;
}
#templateSyntaxSample: right(1000) hide;
.s23{
  #templateSyntax: left(1000) hide;
  #templateSyntaxSample: left(1000) show;
  #highlighter: move(55,-42);
  #highlighter{
    width: 290px;
    height: 30px;
  }
}

.s24{
  #highlighter{
    opacity: 0.5;
  }
}

.s25{
  #highlighter: move(-180,20);
  #highlighter{
    width: 350px;
  }
}

.s26{
  #highlighter: move(170,20);
}

.s27{
  #highlighter: move(-20,82);
}

#apiTitle: up(300) hide;
#apiGif: hide;
#apiGif{
  img{
    width: 800px;
  }
}
.s28{
  #highlighter{
    opacity: 0;
  }
  #templateSyntaxSample: up(1000) hide;
  #templateSyntaxTitle: up(1000) hide;

  #apiTitle: show;
  #apiGif: show;
}

#apiOverview, #apiCommunication{
  img{
    height: 500px;
  }
}
#apiOverview: right(1000) hide;
.s29{
  #apiOverview: left(1000) show;
  #apiGif: left(1000) hide;
}

#apiCommunication: right(1000) hide;
.s30{
  #apiCommunication: left(1000) show;
  #apiOverview: left(1000) hide;
}

#componentSample2: right(1000) hide;
.s31{
  #componentSample2: left(1000) show;
  #apiCommunication: left(1000) hide;
  #highlighter: move(30,60);
  #highlighter{
    transition-duration: 1s;
    width: 750px;
    height: 70px;
  }
}

.s32{
  #highlighter{
    opacity: 0.5;
  }
  #arrowdown: move(0,85) hide;
}

#componentUsageSample2: down(150) hide;

.s33{
  #apiTitle: up(50);
  #componentUsageSample2: show;
  #arrowdown:show;
  #componentSample2: up(140);
  #highlighter: up(140);
}

#lifecycleTitle: down(700) hide;

#lifeCycleGif{
  img{
    height: 450px;
  }
}
#lifeCycleGif: down(1000) hide;

.s34{
  #apiTitle: up(800);
  #componentUsageSample2: up(800) hide;
  #arrowdown: up(800) hide;
  #componentSample2: up(800) hide;
  #highlighter: up(800);
  #highlighter{
    opacity: 0;
  }

  #lifecycleTitle: up(1000) show;
  #lifeCycleGif: up(1025) show;
}

#lifecycle1: up(50) left(1000) hide;
#lifecycle2: right(1000) hide;
#lifecycle1 li,
#lifecycle2 li{
  color: white;
  padding: 34px 0;
  list-style-type: none;
  width: 400px;
  position: relative;
}

#lifecycle1 li:after,
#lifecycle2 li:after{
  position: absolute;
  top: 70px;
  left: 50px;
  content: " ";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10px 15px 0 15px;
  border-color: #ffffff transparent transparent transparent;
}

#lifeCycleBackground: up(25);
#lifeCycleBackground{
  background-color: #4C9179;
  border: 4px dotted black;
  opacity: 0;
  width: 450px;
  height: 450px;
}


.s35{

  #lifeCycleGif: scale(0.5,1) hide;

  #lifecycleTitle: show;
  #lifecycle1: right(1050) show;
  #lifecycle2: left(950) show;

  #lifecycle1, #lifecycle2{
    transition-delay: 1s;
  }

  #lifeCycleBackground{
    opacity: 0.8;
  }
}
